@(message: String, id : String)
@main_dashboard("TAMS" ) {

    @views.html.navigation("message")


    <div class="content-wrapper py-3">
        <div class="container-fluid">
            <div class="row trak_map_page">
                <div class="page-header" style="background-image: url('@routes.Assets.at("images/vehicle3.jpg")')">

                    <div class="container">
                        <div class="col-md-12"><br>

                            <h2 class="text-success ">Agents requests / suggestions list</h2>


                            <div class="chats mt-5 col-md-10" >


                                    <ul class="list-group  list-group-horizontal-sm">
                      @if(ApprovedAgents.FindChatSender !=null && !ApprovedAgents.FindChatSender.isEmpty()){
                                        @for(sender <- ApprovedAgents.FindChatSender() ) {

                                       <a href="@routes.AdminDashboard.ChatDetails(id)@sender.approved.id" class="mylink" >
                                 <input type="hidden" value="@sender.approved.id" id="link">
                         <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-default py-2"  >
                                                 @sender.approved.applicant.firstname
                                            @if(sender.reply_status == false){

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <span class="badge badge-danger badge-pill ml-2"> @AgentsInquiry.Unread unread message (s)</span><br>
                                                  <span class="badge badge-success "> Telecom company : @sender.approved.applicant.company</span>
                                             }else{
                                                <span class="badge badge-info badge-pill">readed</span>
                                            }
                               }
                                  </li>
                                  </a>
                            @*<div id="pagination2" class="pagination">   *@@*pagination*@@*
                                              <ul>
                                              @for(i <- 0 until ApprovedAgents.FindChatSender.getTotalPageCount()){
                                                  <li><a  href="@link(i, null)">@(i+1)</a></li>
                                              }
                                              </ul>
                                          </div>*@

                                       }else{
                                           <p>No chat available</p>
                                        }
                                    </ul>
                                </div>
                            </div>


                        </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
            <!-- /.container-fluid -->
    </div>
        <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#">
        <i class="fa fa-chevron-up"></i>
    </a>

    <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_7OucfzhqVC8ic_RPW0jPy-55OE0y-ZA&sensor=false&libraries=places">
    </script>

}