@main_dashboard("TAMS" ) {

@views.html.navigation("message")


    <div class="content-wrapper py-3"  >
        <div class="" style="margin-left: 5% ;"><br>
            <h2 class="text-primary center col-md-offset-4" > Welcome to Telecom Agent Management System admin dashboard</h2>
        </div>

        <div class="container-fluid" style="background-image: url('@routes.Assets.at("images/admin-dashboard2.png")'); ">
            <div class="row trak_map_page" >
                <div class="page-header" >




                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
      </div>
     <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#">
        <i class="fa fa-chevron-up"></i>
    </a>

   <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_7OucfzhqVC8ic_RPW0jPy-55OE0y-ZA&sensor=false&libraries=places">
    </script>





}