@(message: String, searched: List[ApprovedAgents])
@main_dashboard("TAMS" ) {

    @views.html.navigation("message")

    <div class="content-wrapper py-3">
        <div class="container-fluid">
            <div class="row trak_map_page">
                <div class="page-header" style="background-image: url('@routes.Assets.at("images/vehicle3.jpg")')">

                    <div class="container">

                        <div class="col-md-6">
                        <div class="form-group offset-3">
                            <input type="text" class="form-control search" id="search" placeholder="search for an agent" required  >
                        </div>
                        </div>

                        @if(searched !=null && !searched.isEmpty){
@*                         Section for results of search*@
                        <div class=" col-md-9" id="searched" >
                            <table class="table   table-bordered table-hover table-striped ">
                            <thead>
                                <tr class="bg-warning text-white">
                                    <th>Fisrtname</th>
                                    <th>lastname</th>
                                    <th>Telephone</th>
                                    <th>Wallet number</th>
                                    <th>Airtime number</th>
                                </tr>
                            </thead>
                            @for(user  <- searched) {
                                <tr>
                                    <td class="firstname">
                                    @user.applicant.firstname
                                    </td>
                                    <td class="lastname">
                                    @user.applicant.lastname
                                    </td>
                                    <td class="phonenumber">
                                    @user.applicant.phonenumber
                                    <td class="walletnumber"  >
@*//                                    @for(x  <- AgentApplication.Approved_agentsList()){*@
                                        <a href="">@user.walletnumber</a>
                                    </td>
                                    <td class="airtimenumber">
                                        <a href="">@user.airtimenumber</a>

                                    </td>
@*//                                    }*@
                                </tr>
                            }
                            </table>
                        </div>
                        }
@*                    --- End search results --*@


                          <div class="col-md-9" id="approvedusers"><br>
                            @if(message == "error") {
                                <div class="alert alert-danger col-md-6 offset-1" role="alert">
                                @flash.get("error")
                                </div>

                            }
                            @if(message=="success"){

                                <div class="alert alert-success col-md-6 offset-1" role="alert">
                                @flash.get("success")
                                </div>
                            }

                            <h2 class="text-success" style="margin-left:5%;">Applicants Decision list</h2>


                            <div class="col-sm-offset-1" id="tablediv">

                        @if(AgentApplication.appliedAgents() != null && !AgentApplication.appliedAgents().isEmpty() ) {

                                <table class="table   table-bordered table-hover table-striped ">


                                    <thead>
                                        <tr class="bg-primary text-white">
                                            <th>id</th>
                                            <th>Fisrtname</th>
                                            <th>lastname</th>
                                            <th>Station</th>
                                            <th>Telephone</th>
                                            <th>Address</th>
                                            <th>Update</th>
                                            <th>Detail</th>
                                            <th >status</th>
                                        </tr>
                                    </thead>

                                    @for(applicant <- AgentApplication.appliedAgents() ) {
                                        <tr>
                                            <td class="id">
                                            @applicant.id
                                            </td>

                                            <td class="firstname">
                                            @applicant.firstname
                                            </td>
                                            <td class="lastname">
                                            @applicant.lastname

                                            </td>

                                            <td class="sitename">
                                            @applicant.sitename
                                            </td>

                                            <td class="phonenumber">
                                            @applicant.phonenumber

                                            </td>
                                            <td class="address">
                                            @applicant.address

                                            </td>

                                            <td class="district" hidden="true">
                                            @applicant.district.district
                                            </td>
                                            <td class="sector" hidden="true">
                                            @applicant.sector.sector
                                            </td>
                                            <td class="cell" hidden="true">
                                            @applicant.cell.cell
                                            </td>
                                            <td class="nationality" hidden="true">
                                            @applicant.nationality
                                            </td>
                                            <td class="nid" hidden="true">
                                            @applicant.nid
                                            </td>
                                            <td class="company" hidden="true">
                                            @applicant.company
                                            </td>
                                            <td class="passportphoto" hidden="true">
                                            @applicant.passportphoto
                                            </td>
                                            <td class="agromeration" hidden="true">
                                            @applicant.agromeration
                                            </td>

                                         <td class="walletnumber"  hidden="true">
                                            @for(x : ApprovedAgents <- applicant.Approved_agentsList()){
                                            <a href="">@x.walletnumber</a>

                                            </td>
                                            <td class="airtimenumber"  hidden="true">
                                            <a href="">@x.airtimenumber</a>
                                            }
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-warning btn-sm modify" data-toggle="modal" data-target="#modify">Update</button>
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm detail" data-toggle="modal" data-target="#detail">Detail</button>
                                            </td>

                                            <td >
                                                <span class="text-warning font-bold">
                                                    @applicant.reject_status
                                                </span>
                                            </td>

                                        </tr>
                                    }

                                </table>
                                 }else{
                        <div class="col-md-6">
                            <p class="mt-5 ml-5">Sorry you have no approved/rejected application</p>
                        </div>
                        }
                      </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
        <!-- /.container-fluid -->
    </div>
        <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#">
        <i class="fa fa-chevron-up"></i>
    </a>



    @*User Details Model*@
    @*    ============================-->*@

    <section id="">
        <div class="container">
            <div class="row">
                <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="Details" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title center" id="">Applicant detail</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">



                                <form class=" mt-5"  id="applicationForm" enctype="multipart/form-data"  >

                                    <div class="row">
                                        <div class=" col-md-6 mt-5">
                                            <div class="form-group   ">
                                                <div class="col-md-3">
                                                    <img  alt="passpost" id="passportphoto" width="140" height="140">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class=" col-md-6">
                                            <div class="form-group   ">
                                                <input  name="district" value="" disabled class="form-control" id="district"  type="disabled">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group   ">
                                                <input  name="sector" disabled class="form-control" id="sector"  type="disabled">
                                            </div>
                                        </div>
                                    </div>
                                           <div class="row">
                                        <div class=" col-md-6">
                                            <div class="form-group   ">
                                                <input  name="walletnumber" value="" disabled class="form-control text-warning" id="walletno"  type="disabled">
                                            </div>
                                        </div>

                                        <div class="col-md-6 ">
                                            <div class="form-group   ">
                                                <input  name="airtimenumber" value="" disabled class="form-control text-warning" id="airtimeno"  type="disabled">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6  ">
                                            <input  name="cell" disabled class="form-control" id="cell" type="disabled">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <input
                                            name="agglomeration"
                                            id="agromeration"
                                            class="form-control"
                                            type="text"
                                            disabled

                                            placeholder="Enter agglomeration name">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6  ">
                                            <input
                                            name="firstname"
                                            id="firstname"
                                            class="form-control"
                                            type="text"
                                            disabled
                                            placeholder="Enter first name">
                                        </div>

                                        <div class="form-group col-md-6  ">
                                            <input
                                            name="lastname"
                                            id="lastname"
                                            class="form-control"
                                            value=""
                                            type="text"
                                            disabled
                                            placeholder="Enter last name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12  ">
                                            <input
                                            name="phone"
                                            class="form-control"
                                            type="text"
                                            disabled
                                            id="phonenumber"
                                            placeholder="Enter phone number">
                                        </div>

                                        <div class="form-group col-md-12  ">
                                            <input
                                            name="address"
                                            value="Address : "
                                            class="form-control"
                                            type="text"
                                            disabled
                                            id="address"
                                            placeholder="Enter your address">
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6  ">
                                            <input
                                            name="nationality"
                                            value="Nationality :"
                                            class="form-control"
                                            type="text"
                                            disabled
                                            id="nationality"
                                            placeholder="Enter your nationality">
                                        </div>

                                        <div class="form-group col-md-6  ">
                                            <input
                                            name="nationalid"
                                            value="National ID:"
                                            disabled
                                            class="form-control"
                                            type="text"
                                            id="nid"
                                            placeholder="Enter your national ID">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6  ">
                                            <input
                                            name="comapny"
                                            value="Telecom company :"
                                            disabled
                                            id="company"
                                            class="form-control"
                                            type="text"
                                            placeholder="">
                                        </div>


                                        <div class="form-group col-md-6  ">
                                            <input
                                            name="sitename"
                                            value="Centre station name :"
                                            disabled
                                            id="sitename"
                                            class="form-control"
                                            type="text"
                                            placeholder="Enter site name">
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    @*User Mofify *@
    @*    ============================-->*@

    <section id="">
        <div class="container">
            <div class="row">
                <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modify" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title center" id="">MODIFY AGENT INFORMATION</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">

                <form class=" mt-5"  method="post" id="" action="/manage/decision/update" enctype="multipart/form-data"  >
              <input type="text" id="id2" placeholder="iduser" name="id2" hidden>
     @*       <div class="row">
                <div class=" col-md-6">
                    <div class="form-group   ">
                        <input  name="walletnumber2" value="" placeholder="Wallet number" class="form-control text-warning" id="walletno2"  type="text">
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="form-group   ">
                        <input  name="airtimenumber2" value="" placeholder="Airtime number" class="form-control text-warning" id="airtimeno2"  type="text">
                    </div>
                </div>
            </div>*@


        <div class="row">
            <div class="form-group col-md-6  ">
                <input
                name="firstname2"
                id="firstname2"
                class="form-control"
                type="text"
                placeholder="Enter first name">
            </div>

            <div class="form-group col-md-6  ">
                <input
                name="lastname2"
                id="lastname2"
                class="form-control"
                value=""
                type="text"
                placeholder="Enter last name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12  ">
                <input
                name="phonenumber2"
                class="form-control"
                type="text"
                id="phonenumber2"
                placeholder="Enter phone number">
            </div>

            <div class="form-group col-md-12  ">
                <input
                name="address2"
                value=""
                class="form-control"
                type="text"
                id="address2"
                placeholder="Enter your address">
            </div>

        </div>

        <div class="row">

                <div class="col-sm-6">
                    <select  name="company2" id="company2" class="form-control">
                        <option value=""> -- select your Telecom company -- </option>
                        <option value="mtn"> MTN </option>
                        <option value="airteltigo"> AIRTEL - TIGO </option>
                    </select>

                </div>

               <div class="form-group col-md-6  ">
                <input
                name="sitename2"
                value=""
                id="sitename2"
                class="form-control"
                type="text"
                placeholder="Enter site name">
            </div>
             </div>
                    <div class="form-group col-md-12 ">
                        <button class="form-control btn btn-warning btn-lg " type="submit">UPDATE</button>
                    </div>



                                </form>



                            </div>
                            <div class="modal-footer">

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_7OucfzhqVC8ic_RPW0jPy-55OE0y-ZA&sensor=false&libraries=places">
    </script>
}