@(message: String)
@main_dashboard("TAMS" ) {
    @views.html.navigation("message")

    <div class="content-wrapper py-3">
        <div class="container-fluid">
            <div class="row trak_map_page">
                <div class="page-header" style="background-image: url('@routes.Assets.at("images/vehicle3.jpg")')">

                    <div class="container">
                        <div class="col-md-12"><br>

                            <h1 class="text-success">REGISTER RWANDA CELL</h1>
<form class="col-sm-offset-2" action="@routes.AdminDashboard.DashboardCreateCell()" autocomplete="off" id="cellform" method="POST" >

                            @if(message == "error") {
                                <div class="alert alert-danger col-md-8 offset-1" role="alert">
                                @flash.get("error")
                                </div>

                            }
                            @if(message=="success"){

                                <div class="alert alert-success col-md-8 offset-1" role="alert">
                                @flash.get("success")
                                </div>
                            }

                                <div class="form-group row  ">
                                    <div class="col-sm-10">
                                        <select  name="sector" class="form-control">
                                            <option value=""> -- select sector -- </option>
                                            @for( i <- Sector.findSectors() ){
                                                <option value="@i.id">@i.sector</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row  ">
                                    <div class="col-sm-10">
                                        <input
                                        name="cell"
                                        id="cell"
                                        class="form-control"
                                        type="text"
                                        placeholder="Enter cell name"/>
                                    </div>
                                </div>

                                <div class="form-group row  ">
                                    <div class="col-sm-10">
                                        <input
                                        name="description"
                                        id="description"
                                        class="form-control"
                                        type="text"
                                        placeholder="Enter district description"/>
                                    </div>
                                </div>


                                <div class=" form-group col-md-offset-4  ">
                                    <input type="submit" class="btn btn-primary " value="Submit">
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
            <!-- /.container-fluid -->
    </div>
        <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#">
        <i class="fa fa-chevron-up"></i>
    </a>

    <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_7OucfzhqVC8ic_RPW0jPy-55OE0y-ZA&sensor=false&libraries=places">
    </script>

}