@(message: String)
@main("applicant") {
    @indexheader()

    <section id="singupform">
        <div class="container">
            <div class="row">

                <div class="form mt-3 col-md-12 offset-1">
                    @if(message=="rejection"){
                    <div class="alert alert-danger col-md-8 offset-1" role="alert">
                        @Html(flash.get("rejection"))
                    </div>
                    }

                    @if(message =="nondecision"){

                    <h2>
                        Dear
                        <b>@flash.get("names")</b>
                        we are following up your Application</h2>

                            <div class="alert alert-warning col-md-7  mt-4 offset-2" role="alert">
                                @Html(flash.get("nondecision"))
                            </div>

                    }

            </div>
        </div>
        </div>
    </section>

    @*      Signup/Signin Section*@
    @*    ============================-->*@

    @signin_signup_model()


    </main>
}