 @main("Welcome to TAMS" ) {
@indexheader()
        <!--==========================
      About Us Section
    ============================-->
    <section id="about">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="@routes.Assets.at("images/Airtel-Rwanda.png")" alt="">
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-content">
                        <h2>About Us</h2>
                        <h3>Telecom Agent Management System</h3>
                        <p>We are Rwanda Telecommunication companies who decided to work together but with separate services for the purpose of satisfying our clients in their daily needs</p>

                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i>We care about you</li>
                            <li><i class="ion-android-checkmark-circle"></i>Ask we shall reply because we are your servents</li>
                            <li><i class="ion-android-checkmark-circle"></i>Don't miss the use of TAMS for your acknowledgement in our company</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->

@index_service_section()

@*      Signup/Signin Section*@
@*    ============================-->*@
  @signin_signup_model()

</main>
    }

