<!--==========================
      Services Section
    ============================-->
<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Services</h3>
            <p>Telecom Agent Network Management Information System thinks about you and does everything to improve the qualiity of the services offers you. </p>
        </header>

        <div class="row">


            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="ion-ios-world-outline" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Mapping Agents</a></h4>
                    <p class="description">Our system allocates agents in different site where they can meet with their can face the public for selling airtime or for mobile emoney transaction</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">Registration</a></h4>
                    <p class="description">Registration of new agent to desired Telecom company when He/She needs to start the telecom business everywhere in different districts of Rwanda</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Agent Support</a></h4>
                    <p class="description">We provide a quick support to our agents because are them our core link to the end client and are they satnd inbehalf of us in terms of services</p>
                </div>
            </div>


        </div>

    </div>
</section><!-- #services -->