@(message: String)
<!-- Left navigation Menus-->
<nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse bg-inverse ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="">Welcome</a>
    <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="sidebar-nav navbar-nav">
            @if(session.get("agentlog")){

            }else {

                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard"><i class=""></i>Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" aria-expanded="false"><i class="fa fa-fw fa-lock"></i><i  class="fa  fa-fw fa-caret-right"></i>
                        Manage</a>
                    <ul class="sidebar-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="/manage/agents"><i  class="fa  fa-fw fa-caret-down"></i> Handle applications</a>
                        </li>
                        <li>
                            <a href="/manage/accounts "><i  class="fa  fa-fw fa-caret-down"></i>Manage accounts</a>
                        </li>
                        <li>
                            <a href="/manage/accounts "><i  class="fa  fa-fw fa-caret-down"></i> Admin accounts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
                    href="#collapseComponents"><i class="fa fa-fw fa-cogs"></i><i  class="fa  fa-fw fa-caret-right"></i> System settings</a>
                    <ul class="sidebar-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="/dashboard/province "><i  class="fa  fa-fw fa-caret-down"></i> Register Province</a>
                        </li>
                        <li>
                            <a href="/dashboard/district"><i  class="fa  fa-fw fa-caret-down"></i> Register District</a>
                        </li>
                        <li>
                            <a href="/dashboard/sector"><i  class="fa  fa-fw fa-caret-down"></i> Register Sector</a>
                        </li>

                        <li>
                            <a href="/dashboard/cell"><i  class="fa  fa-fw fa-caret-down"></i> Register Cell</a>
                        </li>

                    </ul>
                </li>

            }

             @if(message=="approval") {



                 <li class="nav-item active">
                     <a class="nav-link" href="/dashboard"><i class=""></i>Agent Dashboard</a>
                 </li>

                         <li class="nav-item">
                             <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
                             href="#collapseComponents"><i class="fa fa-fw fa-briefcase"></i> Agent Menu</a>
                             <ul class="sidebar-second-level collapse" id="collapseComponents">
                                 <li>
                                     <a href="">Agent Inquiry</a>
                                 </li>

                             </ul>
                         </li>
                }

        </ul>
        <ul class="navbar-nav ml-auto">
                <!--  -->
            <li class="nav-item">
                <a class="nav-link" href="/agent/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>