@*Signup/Signin Section*@
@*    ============================-->*@

<section id="">

    <div class="container">
        <div class="row">

            <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="singn&up" aria-hidden="true">
                <div class="modal-dialog" role="">
                    <div class="modal-content">
                        <div class="model-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Signin / Signup if your are new</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="col-md-8 offset-3">
                                    <button type="btn btn-lg" class="btn btn-primary"><a href="/signin/agent ">SIGNIN</a></button>
                                    <button type="btn btn-lg" class="btn btn-warning"><a href="/signup/agent">SIGNUP</a></button>
                                </div>

                            </div>
                            <div class="modal-footer">

                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>